* {
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
 color: inherit; } 

/* Removing normal link color behaviour for navbar items */

a:link { text-decoration: none; color: none; }


a:visited { text-decoration: none; color: none;}


a:hover { text-decoration: none; color: none;}


a:active { text-decoration: none; color: none;}

/* Setting variable colors */

:root{
  --maintheme: rgb(35, 37, 37);
  --highlight: lightskyblue;
  --lighttext: rgb(161, 211, 241);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: whitesmoke;
  color: var(--maintheme);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--maintheme)
}

.link
{
  text-decoration:underline;
  color:darkblue;
}

/* Navigation CSS */

#navBar {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#navigation {
  display: flex;
  justify-content: space-evenly;
  padding: 0px;
}

#navigation p {
  cursor: pointer;
  text-decoration: none;
  border-bottom: solid;
  border-width: 2px;
  border-color: var(--highlight);
  font-size: 1.1rem;
  -webkit-transition: 0.5s ease-in-out;
	transition: .4s ease-in-out;
}

#navigation p:hover {
  background-color: var(--highlight); 
  color: var(--maintheme);
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

/* Typography CSS */

h1{
  background-color:var(--maintheme);
  color: var(--highlight);
  padding-left: 0;
  padding-right: 35%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  font-size: 1.6rem;

}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  color: var(--highlight)
}

#navigation p {
    margin: 20px;
    color: var(--highlight)  
}


img {
  display: flex;
  height: 50px;
  width: auto;
  border-radius:40%;
  margin-left: 30px;
  border-color: var(--highlight);
  border-width: 1px;
  border: solid;
  color: var(--lighttext);
}

.hero-banner {
  width: 100%;
  height: 200px;
background-image: url("../images/banner-image.jpg");
display: flex;
align-items: end;
justify-content: end;
}

.hero-banner h2{
  display:flex;
  flex-basis: 10%;
  color: white;
  margin-bottom: 20px;
  background-color: var(--highlight);
  padding: 10px;
  padding-right: 100%;
}

.page-section-container
{
  display: flex;
  flex-flow: row;
  align-items: space-between;
  margin-top: 50px;
}

.subheading-container{
  display: flex;
  min-width: 200px;
  border-color: var(--maintheme);
  border-right: solid;
  border-width: 5px;
  justify-content: end;
  padding-right: 50px;
}

/* Create a flex layout context for the large main project container*/

.mainProjectContainer
{
  display: flex;
  padding: 0;
  margin: 0px;
  height: 400px;
  margin-bottom: 20px;
  background-image: url("../images/mainpic.png");
  border: solid;
  border-width: 6px;
  border-color: var(--highlight);
  align-items: end;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* Fading aninmation for the main project image */

.mainProjectContainer:hover
{
opacity: 0.5;
}

.Projects {
  display: flex;
  height: 50px;
  width: 200px;
  color: var(--maintheme);
  font-weight: bold;
  background-size: cover;
  border: 5px;
  align-items: end;
    padding-bottom: 20px;
    margin-bottom: 20px;
  background-color: var(--highlight);
  padding-left: 5px;

}

.content-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 30px;
}

.content-container p{
  color: var(--maintheme)
}

/* Smaller project container for all 4 subprojects */

.subProjectContainer
{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;  
}

.subProjectContainer > div 
{
  display: flex;
  gap: 20px;
  flex-basis: calc(50% - 10px);
  height: 150px;
  flex-direction: column;
  cursor: pointer;
}

.subProjectContainer > div > h3
{
  display: flex;
  flex-direction: row;
}

.subProjects {
  padding: 0px;
  margin: 0px;
  color: white;
  font-weight: bold;
  background-size: cover;
  border: solid;
  justify-content: end;
  border-width: 6px;
  border-color: var(--highlight);
 
}

/* 4 subproject classes with different images and hover behaviour*/

.subproject1 {  
  background-image: url("../images/02-portfolio-1.jpg");
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.subproject1:hover {opacity: 0.5;}

.subproject2 {
  background-image: url("../images/02-portfolio-2.jpg");
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.subproject2:hover {opacity: 0.5;}

.subproject3 {
  background-image: url("../images/02-portfolio-3.jpg");
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.subproject3:hover {opacity: 0.5;}

.subproject4 {
  background-image: url("../images/02-portfolio-4.jpg");
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.subproject4:hover {opacity: 0.5;}

.content-container-contact
{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.content-container-contact h3{
  display: flex;
  color: var(--maintheme);
}



/*  Media query screen size change  */


@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 800px) {
  .subProjectContainer > div 
  {
  flex-basis: 100%;
  }
}